@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	@font-face {
		font-family: Menlo;
		font-weight: 400;
		src: url(/fonts/Menlo-Regular.woff) format("woff");
	}
}
